body {
    margin: 0;
    background: #263238;
    font-family: sans-serif;
    font-size: 2em;
}

input, button {
    font-size: 1em;
}

main {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin: auto;
}

.border {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#intro {
    display: flex;
    align-items: center;
}

#intro form {
    width: 100%;
}

.blue-button {
    width: 100%;
    padding: 5px;
    border: 4px solid #0091ea;
    background: #304ffe;
    color: white;
    text-align: center;
    text-decoration: none;
}

.down {
    margin-bottom: 5px;
}

#username {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#room {
    display: flex;
    flex-direction: column;
}

#room-id {
    text-align: center;
    color: white;
}

#players {
    flex-grow: 1;
}

.player {
    display: flex;
    background: white;
    padding: 9px;
}

.player span {
    flex-grow: 1;
}
