@(roomId: Int, userId: Int, players: Seq[(Int, String)])

@main("Room #" + roomId) {
  <div id="room" class="border">
    <div id="room-id" class="down">Room #@roomId</div>

    <div id="players">
      @for((userId, player) <- players) {
        <div class="player down">
          @player
        </div>
      }
    </div>

    <button class="blue-button down">
      Play
    </button>
    <button id="invite" class="blue-button down">
      Invite
    </button>
    <form action="@routes.HomeController.expel(roomId, userId)" method="post">
      <button class="blue-button">
        Leave
      </button>
    </form>
  </div>

  <script>
    const socket = new WebSocket('ws://localhost:9000/room-state/@roomId');

    socket.addEventListener('message', ev => {
        console.log(ev);
        location.reload();
    });

    invite.onclick = async () => {
      await navigator.clipboard.writeText('http://localhost:9000@routes.HomeController.joinRoomGet(roomId)');
      alert('Room link copied');
    };
  </script>
}
